﻿@model IEnumerable<InsuranceSystemProject.Models.PolicyProperty>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1n){text-align: right;}
    td:nth-child(2n){text-align: right;}
    td:nth-child(3n){text-align: right;}
    td:nth-child(6n){text-align: right;}
    td:nth-child(7n){text-align: right;}
</style>
<h2>Index</h2>
<h4>PolicyProperty</h4>
<p>
    @Html.ActionLink("Create New", "PolicyPropertyCreate")
</p>
<p>
    @using (Html.BeginForm("PolicyPropertyIndex", "PolicyProperty", FormMethod.Get))
    {
        <b>Search by:</b>
        @Html.RadioButton("searchBy", "Id")<text> Номер</text>
        @Html.RadioButton("searchBy", "Client")<text> Застрахован</text>
        @Html.RadioButton("searchBy", "Insurer")<text> Застраховател</text><br />
        @Html.TextBox("Search");<input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetail.FirstName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "PolicyPropertyEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City1.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceCompany.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetail.FirstName)
        </td>

    </tr>
}

</table>
