﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/css/metro-ui/css")
</head>
<body class="metro">
    <div class="container">
        <div class="navigation-bar  white border">
            <div class="navigation-bar-content">
                <a href="/" class="element"><span class="icon-grid-view"></span> ЗАСТРАХОВАТЕЛ "Наред" ООД <sup>1.0</sup></a>
                <span class="element-divider"></span>
                <a class="pull-menu" href="#"></a>
                <ul class="element-menu">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Гражданска Отговорност", "Index", "PolicyAutoes")</li>
                        <li>@Html.ActionLink("Автокаско", "Index", "PolicyKaskoes")</li>
                        <li>@Html.ActionLink("Застраховка Имущество", "PolicyPropertyIndex", "PolicyProperty")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Гражданска Отговорност", "Create", "PolicyAutoes")</li>
                        <li>@Html.ActionLink("Автокаско", "Create", "PolicyKaskoes")</li>
                        <li>@Html.ActionLink("Застраховка Имущество", "PolicyPropertyCreate", "PolicyProperty")</li>
                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    }
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Светльо Insurance</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metro-ui")
    @RenderSection("scripts", required: false)
</body>
</html>
