﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Светослав Терзиев
    <abbr title="Phone">Телефон: 0899132538</abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="svetoslav.terziev@gmail.com">svetoslav.terziev@gmail.com</a><br />
 
</address>