﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="grid fluid">
            <div class="row">
                <div class="span12">

                    @if (Request.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Марки</h2>
                                <p>@Html.ActionLink("Администрирай", "MakeIndex", "Make")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Градове</h2>
                                <p>@Html.ActionLink("Администрирай", "CityIndex", "City")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Употреби</h2>
                                <p>@Html.ActionLink("Администрирай", "UsageIndex", "Usage")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Превозни средства</h2>
                                <p>@Html.ActionLink("Администрирай", "VehicleIndex", "Vehicle")</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Полици ГО</h2>
                                <p>@Html.ActionLink("Администрирай", "Index", "PolicyAutoes")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Полици Автокаско</h2>
                                <p>@Html.ActionLink("Администрирай", "Index", "PolicyKaskoes")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Полици Недвижимо имущество</h2>
                                <p>@Html.ActionLink("Администрирай", "PolicyPropertyIndex", "PolicyProperty")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Застрахователни компании</h2>
                                <p>@Html.ActionLink("Администрирай", "InsuranceCompanyIndex", "InsuranceCompany")</p>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Застраховка Гражданска Отговорност</h2>
                                <p>@Html.ActionLink("Продължи", "Create", "PolicyAutoes")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Автокаско</h2>
                                <p>@Html.ActionLink("Продължи", "Create", "PolicyKaskoes")</p>
                            </div>
                            <div class="col-md-3">
                                <h2>Застраховка Живот</h2>
                                <p>@Html.ActionLink("Продължи", "PolicyPropertyCreate", "PolicyProperty")</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

