﻿@model IEnumerable<InsuranceSystemProject.Models.InsuranceCompany>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1n){text-align: right;}
    td:nth-child(3n){text-align: right;}
    td:nth-child(4n){text-align: right;}
    td:nth-child(5n){text-align: right;}
    td:nth-child(6n){text-align: right;}
    td:nth-child(7n){text-align: right;}
    td:nth-child(8n){text-align: right;}
    td:nth-child(9n){text-align: right;}
</style>
<h2>Index</h2>
<h4>InsuranceCompany</h4>
<p>
    @Html.ActionLink("Create New", "InsuranceCompanyCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccidentKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KaskoKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifeKoef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsibilityKoef)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "InsuranceCompanyEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccidentKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KaskoKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LifeKoef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsibilityKoef)
        </td>

    </tr>
}

</table>
