﻿@model InsuranceSystemProject.Models.PolicyKasko

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PolicyKasko</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RamNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RamNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City1.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
