﻿@model InsuranceSystemProject.Models.PolicyKasko

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PolicyKasko</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RamNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RamNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City1.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
