﻿@model IEnumerable<InsuranceSystemProject.Models.PolicyKasko>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "PolicyKaskoes", FormMethod.Get))
    {
        <b>Search by:</b>
        @Html.RadioButton("searchBy", "Id")<text> Номер</text>
        @Html.RadioButton("searchBy", "Client")<text> Застрахован</text>
        @Html.RadioButton("searchBy", "Insurer")<text> Застраховател</text><br />
        @Html.TextBox("Search");<input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RamNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnginePower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceCompany.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetail.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RamNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnginePower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City1.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceCompany.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetail.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
